.how-it-works {
	margin-top: 80px;
	.how-it-works_block {
		margin-top: 30px;
		.text-description_main {
			margin-top: 50px;
			p {
				text-align: justify;
			}
		}
	}
	.section-with-img_img-block {
		img {
			width: 100%;
		}
	}
}
